name: Examples

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, windows-latest, macos-latest]
        python-version: [3.7]
        example:
          - "examples/mbed-rtos-blink-baremetal"
          - "examples/mbed-rtos-blockdevice"
          - "examples/mbed-rtos-thread-statistics"
          - "examples/mbed-legacy-examples/mbed-blink"
          - "examples/mbed-legacy-examples/mbed-dsp"
          - "examples/mbed-legacy-examples/mbed-events"
          - "examples/mbed-legacy-examples/mbed-rtos"
          - "examples/mbed-legacy-examples/mbed-serial"
          - "examples/zephyr-blink"
          - "examples/zephyr-custom-board"
          - "examples/zephyr-synchronization"
        exclude:
          - {python-version: 2.7, example: "examples/zephyr-blink"}
          - {python-version: 2.7, example: "examples/zephyr-custom-board"}
          - {python-version: 2.7, example: "examples/zephyr-synchronization"}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/platformio/platformio/archive/develop.zip
          platformio platform install file://.
      - name: Build examples
        run: |
          platformio run -d ${{ matrix.example }}
